/.idea
/Cargo.lock
/target
/.output.txt
/grammar/but/test_output.txt
.temporary
.syntx.json
output.txt
/grammar/.output/cmake-build-debug
/grammar/.output/.idea
extensions/zed-but/target
extensions/zed-but/Cargo.lock
extensions/zed-but/extension.wasm
/examples/example.pdf
/*.o
